<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>

		<a class = "name" href = "/"> ADVAIT CHAUHAN </a>
		<br>
		<br>
		
		<div class="container">
		{{ content }}
		</div><!-- /.container -->

		<div class = "footer">
		<footer>
    		<ul>
        		<li><a href="mailto:achauhan@princeton.edu">email</a></li>
        		<li><a href="https://github.com/advaitchauhan">github</a></li>
        		<li><a href="https://www.linkedin.com/in/advaitchauhan">linkedin</a></li>
			</ul>
		</footer>
		</div>

	</body>
</html>